.card {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #eeeeee;
  border: 1px solid #cecece;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 200px;
}

@media (max-width: 576px) {
  .card {
    max-width: 150px;
  }



}

@media (max-width: 768px) {
  .card {
    max-width: 150px;
  }
}


@media (max-width: 992px) {
  .card {
    max-width: 100px;
  }
}