h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 120px;
}

span {
    font-size: 20px;
}

@media (max-width: 576px) {
    span {
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}


@media (max-width: 992px) {
    span {
        font-size: 16px;
    }
}