.lineGraph {
    width: 600px;
    height: 600px;
    margin: 50px auto;

}

@media (max-width: 576px) {
    .lineGraph {
        width: 300px;
        height: 400px;
    }

}

@media (max-width: 768px) {
    .lineGraph {
        width: 300px;
        height: 400px;
    }
}


@media (max-width: 992px) {
    .lineGraph {
        width: 330px;
        height: 600px;
    }
}