html,
body,
#root {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.container {
  text-align: center;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}

select {
  outline: none;
  border: 1px solid #41dfff;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  align-content: center;
}

select option:hover {
  outline: none;
  background: #d16ba5;
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  select {
    font-size: 8px;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  select {
    font-size: 8px;
  }
}


@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  select {
    font-size: 10px;
  }
}